{% extends "main/base.html" %}
{% load staticfiles %}

{% block head %}
    <script src="{% static 'js/common/bootstrap-rating.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/common/bootstrap-rating.css' %}">
    <link rel="stylesheet" href="{% static 'css/main/book_rating.css' %}">
    <script>
      var urlForRecommendedBook = "{% url 'main:book_recommended' %}"
      var urlForBookRating = "{% url 'recommend:book_rating' %}";
      var urlForAddBlackList = "{% url 'users:add_book_to_black_list' %}";
      var urlForAddWishList = "{% url 'users:add_book_to_wish_list' %}";
    </script>
{% endblock head %}

{% block contents %}
    {% if rated_books_count < 10 %}
        <div class="alert alert-warning" role="alert">
            <strong>평가된 책이 너무 적습니다.</strong> 총 {{ rated_books_count }}권의 책을 평가하셨습니다. 최소 10권 이상 평가하셔야 추천을 받으실 수 있습니다.
            <div><a href="{% url 'main:book_rating' %}">평가 늘리러 가기</a></div>
        </div>
    {% else %}
    <div id="center" style="position:fixed;top:50%;left:50%;z-index:5">
        <div id="loadingDiv">
            <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
        </div>
        <div id = "alert-container" style="display: none;">
            <div id="alert-rate-container" class="alert alert-success" role="alert">
                <strong> - 당신의 소중한 평가가 저장되었습니다 - </strong>
            </div>
            <div id="alert-wish-container" class="alert alert-success" role="alert">
                <strong> - 찜한 도서목록에 추가 되었습니다 - </strong>
            </div>
            <div id="alert-black-container" class="alert alert-success" role="alert">
                <strong> - 차단 도서목록에 추가 되었습니다 - </strong>
            </div>
        </div>
    </div>
        <div class="book-item-container">
            {% for book in books %}
                <div class="book-item" item-id="{{ book.book.id }}">
                    <div class="img-container">
                        <img src="{{ book.book.image_url }}" />
                    </div>
                    <div class="star-rating-container">
                        <div class="item-title">{{ book.book.title }}</div>
                        <div class="item-author">{{ book.book.author }}</div>
                        <input type="hidden" class="rating" data-fractions="2"/>
                        <div>
                          <i class="btn-wish fa fa-heart">보고싶어요</i>
                          <i class="btn-black fa fa-times">보기싫어요</i>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock contents %}

{% block js_bottom %}
  <script src="{% static 'js/main/book_recommended.js' %}"></script>
{% endblock js_bottom %}
