{% extends "main/base.html" %}
{% load staticfiles %}

{% block cssfiles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'components/bower_components/bootstrap-star-rating/css/star-rating.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/common/book_list.css' %}">
{% endblock cssfiles %}

{% block top_jsfiles %}
    <script>
        var urlForBookRating = "{% url 'recommend:book_rating' %}";
    </script>
{% endblock top_jsfiles %}

{% block contents %}
    <div class="row">
        <div class="col-md-12">
            <div id="center" style="position:fixed;top:50%;left:50%;z-index:5">
                <div id="loadingDiv">
                    <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
                </div>
                <div id="rating-success-alert-container" style="display: none;">
                    <div class="alert alert-success" role="alert">
                        <strong> - 당신의 소중한 평가가 저장되었습니다 - </strong>
                    </div>
                </div>
            </div>
            {% if books|length == 0 %}
                <div class="alert alert-info" role="alert">
                    <h5>검색 결과가 없습니다ㅜㅜ <span class="label label-primary">^^;</span></h5>
                </div>
            {% else %}
                <div class="book-item-container">
                    {% for book in books %}
                        <a href="{% url 'main:book_detail' pk=book.id %}">
                            <div class="book-item" item-id="{{ book.id }}">
                                <div class="img-container">
                                    <img src="{{ book.image_url }}"/>
                                </div>
                                <div class="star-rating-container">
                                    <div class="item-title"><span class='text'>{{ book.title }}</span></div>
                                    <div class="item-author">{{ book.author }}</div>
                                    <input item-id="{{ book.id }}" type="number" class="rating" min=0 max=5 step=0.5
                                           data-size="sm">
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock contents %}

{% block jsfiles %}
    {{ block.super }}
    <script src="{% static 'components/bower_components/bootstrap-star-rating/js/star-rating.min.js' %}" ></script>
    <script src="{% static 'js/main/search.js' %}"></script>
{% endblock jsfiles %}