{% extends "main/base.html" %}
{% load staticfiles %}

{% block head %}
    <script src="{% static 'js/common/bootstrap-rating.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/common/bootstrap-rating.css' %}">
    <link rel="stylesheet" href="{% static 'css/main/book_rating.css' %}">
    <script>
        var urlForBookList = "{% url 'recommend:book_list' %}";
        var urlForBookRating = "{% url 'recommend:book_rating' %}";
    </script>
{% endblock head %}

{% block contents %}
    <div id="center" style="position:fixed;top:50%;left:50%;z-index:5">
        <div id="loadingDiv">
            <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
        </div>
        <div id="rating-success-alert-container" style="display: none;">
            <div class="alert alert-success" role="alert">
                <strong> - 당신의 소중한 평가가 저장되었습니다 - </strong>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="list-group category-list">
                <a href="#" class="list-group-item category-list-item active" category-id="">
                    모든 책
                </a>
                {% for subcategory in subcategories %}
                    <a href="#" class="list-group-item category-list-item" category-id="{{ subcategory.id }}">{{ subcategory.name }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-10"><div class="book-item-container"></div></div>
    </div>
{% endblock contents %}

{% block js_bottom %}
    <script src="{% static 'js/main/book_rating.js' %}"></script>
    <script src="{% static 'waypoints/lib/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'waypoints/lib/shortcuts/sticky.min.js' %}"></script>
{% endblock js_bottom %}
