{% extends "main/base.html" %}
{% load staticfiles %}

{% block cssfiles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'components/bower_components/bootstrap-star-rating/css/star-rating.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main/book_rating.css' %}">
{% endblock cssfiles %}

{% block top_jsfiles %}
    <script>

        var urlForBookList = "{% url 'recommend:book_list' %}";
        var urlForBookRating = "{% url 'recommend:book_rating' %}";

    function get_book_detail_url( book_id ) {
        return "{% url 'main:book_detail' pk=1987654321 %}".replace("1987654321", book_id );
    }

    </script>
{% endblock top_jsfiles %}



{% block contents %}
    <div id="center" style="position:fixed;top:50%;left:50%;z-index:5">
        <div id="loadingDiv">
            <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
        </div>
        <div id="rating-success-alert-container" style="display: none;">
            <div class="alert alert-success" role="alert">
                <strong> - 당신의 소중한 평가가 저장되었습니다 - </strong>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="list-group category-list">
                <a href="#" class="list-group-item category-list-item active" category-id="">
                    <span class="text" hre="#">신간<span class="highlight"></span></span>
                </a>
                {% for category in categories %}
                    <a href="#" class="list-group-item category-list-item" category-id="{{ category.id }}">
                        <span class="text" hre="#">{{ category.name }}</span>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-10">
            <div class="book-item-container"></div>
        </div>
    </div>
{% endblock contents %}

{% block jsfiles %}
    {{ block.super }}
    <script src="{% static 'components/bower_components/bootstrap-star-rating/js/star-rating.min.js' %}" ></script>
    <script src="{% static 'components/bower_components/waypoints/lib/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'components/bower_components/waypoints/lib/shortcuts/sticky.min.js' %}"></script>
    <script src="{% static 'js/main/book_rating.js' %}"></script>
{% endblock jsfiles %}