{% extends "main/base.html" %}
{% load staticfiles %}

{% block cssfiles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/main/index.css' %}">
{% endblock cssfiles %}

{% block bgs %}
    <img class='bg' src="{% static 'css/main/images/main_background.jpg' %}" />
{% endblock bgs %}
{% block contents %}
{#    <div class="row">#}
        <div id="phrases" class="col-md-6 col-md-offset-3">
            <div class="index-alert alert alert-success" role="alert" style="text-align:center; font-size:17px">
                현재 당신이 평가할 수 있는 책 수는 <strong>{{ book_count }}</strong> 권 입니다.
            </div>
            <div class="index-alert alert alert-info" role="alert" style="text-align:center; font-size:17px">
                지금까지 총 <strong>{{ rating_count }}</strong> 건의 평가가 이루어 졌습니다. 감사합니다.
            </div>
        </div>
{#    </div>#}
{% endblock contents %}
