{% extends "main/base.html" %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/main/mypage.css' %}">
    <script src="{% static 'js/common/bootstrap-rating.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/common/bootstrap-rating.css' %}">
    <link rel="stylesheet" href="{% static 'css/main/book_rating.css' %}">
    <script>
      var urlForRatedBook = "{% url 'main:rated_book'}";
    </script>
{% endblock head %}

{% block contents %}
    <h1>마이페이지</h1>
    <ul class="list-group mypage_li">
        <li class="list-group-item disabled">마이 페이지</li>
        <li class="list-group-item"><a id="modify" href="#">비밀번호 변경</a></li>
        <li class="list-group-item"><a id="my-comment" href="#">평가한 책 확인하기</a></li>
    </ul>
{% endblock contents %}

{% block js_bottom %}
    <script src="{% static 'js/main/mypage.js' %}"></script>
{% endblock js_bottom %}
