html, body {
    background-color: #e5e5e5;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: white;
    background-image: none;
    border: 1px solid gray;
    text-shadow: none;
}
.highlight
{
    width: 84%;
    margin-left: 8%;
}