#phrases
{
    position: absolute;
    top:50%;
    height:100px;
    margin-top:-50px;
    text-align:center;
    vertical-align:middle;

}

.container
{
    margin-left:0px;

}

.bg
{
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.5;
}
/*body*/
/*{*/
    /*background: url('images/main_background.jpg') no-repeat center center fixed;*/
    /*background-size: cover;*/
    /*-webkit-background-size: cover;*/
    /*opacity: 0.4;*/
/*}*/